<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165153876385-q1l3s53pj2kkpkicd7nrr42jvhnjevmn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165153876385-q1l3s53pj2kkpkicd7nrr42jvhnjevmn</string>
	<key>API_KEY</key>
	<string>AIzaSyCILtvL9XB27-NWBNGfLCMgSHygnZzqgPc</string>
	<key>GCM_SENDER_ID</key>
	<string>165153876385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cancerDetector</string>
	<key>PROJECT_ID</key>
	<string>cancer-detector-e8db8</string>
	<key>STORAGE_BUCKET</key>
	<string>cancer-detector-e8db8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165153876385:ios:cd34967a84a60ea07bc3e0</string>
</dict>
</plist>